

@if(cartProducts && cartProducts.length > 0){

    <div class="cartContainer">
        <h1>Carrito de la compra</h1>
        
            @for(cartProduct of cartProducts; track cartProduct.id){
                <div class="productContainer">
                <img class="productImage" [src]="cartProduct.imageUrl" alt="Imagen del producto">
                <div class="productData">                    
                    <h3>{{ cartProduct.nombre }}</h3>
                    <span class="price">{{ cartProduct.precio | currency:'EUR':'symbol' }}</span>
                    <button (click)="removeFromCart(cartProduct.id)">Eliminar</button>
                </div>
            </div>
            }
        
        <div class="cartTotal">
            <h2>Total: {{total | currency:'EUR':'symbol'}}</h2>
            <button (click)="buy()">Comprar</button>
        </div>
    </div>

}@else {
    <h1>No hay productos en el carrito</h1>
}
    