<div class="home-container">
    <h1 class="home-title">Bienvenido a Nuestra Tienda Online</h1>
    <section class="featured-products">
        <h2>Productos Destacados</h2>
        <div class="products-grid">
            <!-- Aquí irían los productos destacados, se pueden cargar dinámicamente -->
            @for(product of featuredProducts; track product.id){
                <app-product-item-showcase [product]="product"></app-product-item-showcase>
            }
            
            
        </div>
    </section>
</div>
